<div class="footer">
    <ul>
        <li>
            <a href="">Become a seller</a>
        </li>
        <li>
            <a href="">Policies</a>
        </li>
        <li>
            <a href="">Terms and conditions</a>
        </li>
        <li>
            <a href="">Help center</a>
        </li>
        <li>
            <a href="">News</a>
        </li>
        <li>
            <a href="">Facebook</a>
        </li>
        <li>
            <a href="">Youtube</a>
        </li>
        <li>
            <a href="">Sitemap</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
    </ul>
    <p style="color: cadetblue;">@2023 E-Commerce-Project</p>
</div>